@import "mixin";
$cWhite: white;
$cBlack: black;

h1{
  text-align: center;
  text-shadow: 2px 2px 5px rgba(33, 175, 222, 0.5);
}

#container {
  text-align: center;
  margin: 100px 0;
  // display: flex;
  // justify-content: center;
  & > div {
    flex-basis: 300px;
  }
}

#container2 {
  text-align: center;
  margin: 100px 0;
  // display: flex;
  // justify-content: center;

  & > div {
    flex-basis: 300px;
  }
}

#container3 {
  text-align: center;
  margin: 100px 0;
  // display: flex;
  // justify-content: center;

  & > div {
    flex-basis: 300px;
  }
}

#container4 {
  text-align: center;
  margin: 100px 0;
  // display: flex;
  // justify-content: center;

  & > div {
    flex-basis: 300px;
  }
}

#container5 {
  text-align: center;
  margin: 100px 0;
  // display: flex;
  // justify-content: center;

  & > div {
    flex-basis: 300px;
  }
}

.thema{
  display: inline-block;
  border-bottom: 2px solid rgba(45, 136, 210, 0.5);
  text-align: center;
}

.answer {
  margin-bottom: 100px;
  & .btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 100px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;
    text-decoration: none !important;
    

    &.float:hover {
      background-color: $cBlack;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    &.filled {
      background-color: $cBlack;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: $cWhite;
        color: $cBlack;
        box-shadow: none;
      }
    }

    &.letter-spacing:hover {
      background-color: $cBlack;
      letter-spacing: 3px;
      color: $cWhite;
    }

    &.shadow {
      box-shadow: none;

      &:hover {
        transform: translate(-2.5px, -2.5px);
        box-shadow: 5px 5px 0 0 $cBlack;
      }
    }

    &.solid {
      box-shadow: 2px 2px 0 0 $cBlack;
      border-radius: 7px;

      &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
      }
    }
    &.slide-bg {
      position: relative;
      overflow: hidden;
      z-index: 1;
      
      &::before {
          content: '';
         display: inline-block;
         width: 100%;
         height: 100%;
         background-color: $cBlack;
         position: absolute;
         top: 0;
         left: 0;
         transform: translateX(-100%);
         transition: transform 0.3s;
         z-index: -1;
      }
  
      &:hover {
          color: $cWhite;
  
          &::before {
              transform: none;
          }
      }
  }
  &.btn-white {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 15px 100px;
    display: inline-block;
    white-space: nowrap;
    border-radius: 100px;
    transition: all 0.2s;
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.8s;
    }
    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      &::after {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }
  }
}


.answer3d {
  text-align: center;
  margin: 100px 0;
  .btn {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    &.cubic {
      & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $cBlack;
        line-height: 48px;
        text-align: center;
        transition: all 0.3s;
        transform-origin: center center -25px;
      }

      & .hovering {
        background-color: $cBlack;
        color: $cWhite;
        transform: rotateX(90deg);
      }

      & .default {
        background-color: $cWhite;
        color: $cBlack;
        transform: rotateX(0);
      }

      &:hover {
        & .hovering {
          transform: rotateX(0);
        }
        & .default {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}



.answerRotate{
  text-align: center;
  margin: 100px 0;
    & .btn{
      position: relative;
      display: block;
      transform-style: preserve-3d;
      perspective: 300px;
      width: 250px;
      height: 60px;
      margin: 0 auto;
      z-index: 99999;
    }
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $cBlack;
      line-height: 60px;
      text-align: center;
      box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
      font-size: 25px;
      // transition: all 0.3s;
      // transform-origin: center center -100px;
    }
  
    & .hovering {
      background-color: palevioletred;
      color: $cWhite;
      text-shadow:1px 0 5px black;
      transform: rotateX(180deg);
      @include animation($name:spin2,$duration:10s,$timing-function:linear,$iteration-count:infinite)
    }
    & .hovering2{
      background-color: orange;
      color: $cWhite;
      text-shadow:0 5px 5px black;
      transform: rotateX(270deg);
      @include animation($name:spin3,$duration:10s,$timing-function:linear,$iteration-count:infinite)
    }
    & .hovering3{
      background-color: lightgreen;
      color: $cWhite;
      text-shadow:
      .5px 0 0 black,
      0 .5px 0 black,
      -.5px 0 0 black,
      0 -.5px 0 black;
      transform: rotateX(360deg);
      font-weight: bold;
      @include animation($name:spin4,$duration:10s,$timing-function:linear,$iteration-count:infinite);
    }
  
    & .default {
      color: $cBlack;
      transform: rotateX(90deg);
      @include animation($name:spin1,$duration:10s,$timing-function:linear,$iteration-count:infinite);
      background-color: yellow;
      white-space: nowrap;
      font-weight: 900;
    }
  }

  @for $i from 1 through 4 {
    @keyframes spin#{$i}{
      0%{
        transform: rotateX((($i)*90)-90deg);
            transform-origin: center center -30px;
      }
      100%{
        transform: rotateX((($i)*90)-450deg);
            transform-origin: center center -30px;
      }
    }
  }

  .answerRotate2{
    text-align: center;
    margin: 100px 0;
      & .btn{
        position: relative;
        display: block;
        transform-style: preserve-3d;
        perspective: 300px;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        z-index: 99999;
      }
      & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $cBlack;
        line-height: 250px;
        text-align: center;
        box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
        font-size: 25px;
        // transition: all 0.3s;
        // transform-origin: center center -100px;
      }
    
      & .hovering {
        background-color: palevioletred;
        color: $cWhite;
        text-shadow:1px 0 5px black;
        transform: rotateY(180deg);
        @include animation($name:imgSpin2,$duration:10s,$timing-function:linear,$iteration-count:infinite)
      }
      & .hovering2{
        background-color: orange;
        color: $cWhite;
        text-shadow:0 5px 5px black;
        transform: rotateY(270deg);
        @include animation($name:imgSpin3,$duration:10s,$timing-function:linear,$iteration-count:infinite)
      }
      & .hovering3{
        background-color: lightgreen;
        color: $cWhite;
        text-shadow:
        .5px 0 0 black,
        0 .5px 0 black,
        -.5px 0 0 black,
        0 -.5px 0 black;
        transform: rotateY(360deg);
        font-weight: bold;
        @include animation($name:imgSpin4,$duration:10s,$timing-function:linear,$iteration-count:infinite);
      }
    
      & .default {
        color: $cBlack;
        transform: rotateY(90deg);
        @include animation($name:imgSpin1,$duration:10s,$timing-function:linear,$iteration-count:infinite);
        background-color: yellow;
        white-space: nowrap;
        font-weight: 900;
      }
      &  img{
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
  
    @for $i from 1 through 4 {
      @keyframes imgSpin#{$i}{
        0%{
          transform: rotateY((($i)*90)-90deg);
              transform-origin: center center -125px;
        }
        100%{
          transform: rotateY((($i)*90)-450deg);
              transform-origin: center center -125px;
        }
      }
    }

.pictures{
display: flex;
flex-wrap: wrap;
align-content: space-around;
& > div{
  width: 32%;
  height: 100px;
  margin: 5px;
  background-color: aquamarine;
}
}

.flex-container{
  width: 500px;
  margin: 0 auto;
  height: 300px;
  display: flex;
  & .items{
    background-color: aquamarine;
    margin-top: 2px;
  }
  & .left{
    flex-basis: 30%;
  }
  & .right{
    flex-basis: 70%;
    & .row{
      height: 33%;
    }
    & .row-flex{
      display: flex;
      justify-content: space-between;
      & .row-left{
        flex-basis: 49%;
      }
      & .row-right{
        flex-basis: 49%;
      }
    }
  }
}

.hero{
  position: relative;
  background-color: #000;
  padding: 50px;
  &__footer{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    overflow: hidden;
  }

&__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  @include animation(
    $name: kf-arrow-anime,
    $iteration-count: infinite,
    $duration: 2s,
    $timing-function: linear
  );
}

&__scrolltext {
  position: absolute;
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-20%);
  }
  30% {
    transform: none;
  }
}