.container{
  position: relative;
  padding-top: 70px;
}

.container > section {
  width: 90%;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.container > section > div {
  margin: 16px auto 48px;
}

.thema{
  display: inline-block;
  font-size: 16px;
  border-bottom: 2px solid rgba(45, 136, 210, 0.5);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.under-line{
  font-size: 16px;
  position: relative;
}

.under-line::after{
  content: "";
  width: 130px;
  height: 2px;
  background-color: #f33;
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
}

.icon{
  font-size: 16px;
  position: relative;
  display: inline-block;
}
.icon::before{
  content: "";
  background-image: url(./img/star.jpeg);
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -22px;
}
.icon::after{
  content: "";
  background-image: url(./img/star.jpeg);
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: -22px;
}

.img{
  width: 60%;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}
.img > img {
  border-radius: 10px;
}
.img::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(rgb(34, 34, 253),#00ffff);
  opacity: 0.5;
  display: block;
}
