.hero {
     position: relative;
     background-color: #000;
     padding: 50px;
   }
   .hero__footer {
     position: absolute;
     left: 50%;
     bottom: 20px;
     transform: translateX(-50%);
     z-index: 2;
     height: 68px;
     width: 22px;
     overflow: hidden;
   }
   .hero__downarrow {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 6px;
     -webkit-animation-name: kf-arrow-anime;
             animation-name: kf-arrow-anime;
     -webkit-animation-duration: 2s;
             animation-duration: 2s;
     -webkit-animation-timing-function: linear;
             animation-timing-function: linear;
     -webkit-animation-delay: 0s;
             animation-delay: 0s;
     -webkit-animation-iteration-count: infinite;
             animation-iteration-count: infinite;
     -webkit-animation-direction: normal;
             animation-direction: normal;
     -webkit-animation-fill-mode: forwards;
             animation-fill-mode: forwards;
   }
   .hero__scrolltext {
     position: absolute;
     transform: rotate(90deg);
     color: rgba(255, 255, 255, 0.7);
     left: -8px;
     top: 11px;
     font-size: 1.2em;
   }
   
   @-webkit-keyframes kf-arrow-anime {
     0%, 50%, 100% {
       transform: translateY(-20%);
     }
     30% {
       transform: none;
     }
   }
   
   @keyframes kf-arrow-anime {
     0%, 50%, 100% {
       transform: translateY(-20%);
     }
     30% {
       transform: none;
     }
   }